<div *ngIf="isLoading;else data">
  <div class="ui">
    <div class="ui active inverted dimmer">
      <div class="ui massive text loader">Fetching User Profile of <a target="_blank"  href="https://github.com/{{username}}" target="_blank">@{{username}}</a>...</div>
    </div>
  </div>
</div>
<ng-template #data>
  <div class="ui relaxed stackable column grid">
    <div class="row vetical aligned outerbox">
      <div class="six wide column centered aligned">
        <div class="ui segment box">
          <div class="ui divided items">
            <div class="item">
              <div class="image">
                <img src="{{userData.userDetail?.avatar_url}}" alt="{{userData.userDetail?.login}}">
              </div>
              <div class="content">
                <a target="_blank"  class="header" href="{{userData.userDetail?.html_url}}">@{{userData.userDetail?.login}}</a>
                <div class="meta">
                  <span class="cinema">{{userData.userDetail?.bio != null ? userData.userDetail?.bio : ""}}</span>
                </div>
                <div class="description">
                  <p>{{userData.userDetail?.location != null ? userData.userDetail?.location : ""}}</p>
                  <p>{{userData.userDetail?.company != null ? userData.userDetail?.company : ""}}</p>
                  <p><a href="{{userData.userDetail?.blog}}" target="_blank">{{userData.userDetail?.blog}}</a></p>
                </div>
                <div class="extra">
                  <div class="ui label" style="color:black"><a target="_blank"  href="https://github.com/{{userData.userDetail?.login}}" target="_blank">Follow @{{userData.userDetail?.login}}</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="four column row outerbox">
      <div class="wide column">
        <div class="ui segment box">
          <div class="ui divided items">
            <div class="item">

                <h2 class="ui icon header center aligned">
                  <a target="_blank"  href="https://github.com/{{userData.userDetail?.login}}?tab=repositories">
                  <i class="folder open outline icon"></i>
                  <div class="content">
                    Public Repositories
                    <div class="ui label">
                      <h2>{{userData.userDetail?.public_repos}}</h2>
                    </div>
                  </div>
                  </a>
                </h2>

            </div>
          </div>
        </div>
      </div>
      <div class="wide column">
        <div class="ui segment box">
          <div class="ui divided items">
            <div class="item">

                <h2 class="ui icon header center aligned">
                  <a target="_blank"  href="https://github.com/{{userData.userDetail?.login}}?tab=followers">
                  <i class="users icon"></i>
                  <div class="content">
                    Followers
                    <div class="ui label">
                      <h2>{{userData.userDetail?.followers}}</h2>
                    </div>
                  </div>
                   </a>
                </h2>

            </div>
          </div>
        </div>
      </div>
      <div class="wide column">
        <div class="ui segment box">
          <div class="ui divided items">
            <div class="item">

                <h2 class="ui icon header center aligned">
                  <a target="_blank"  href="https://github.com/{{userData.userDetail?.login}}?tab=following">
                  <i class="unhide icon"></i>
                  <div class="content">
                    Following
                    <div class="ui label">
                      <h2>{{userData.userDetail?.following}}</h2>
                    </div>
                  </div>
                  </a>
                </h2>

            </div>
          </div>
        </div>
      </div>
      <div class="wide column">
        <div class="ui segment box">
          <div class="ui divided items">
            <div class="item">

                <h2 class="ui icon header center aligned">
                  <a target="_blank"  href="https://github.com/{{userData.userDetail?.login}}?tab=stars">
                  <i class="folder open outline icon"></i>
                  <div class="content">
                    Starred Repos
                    <div class="ui label">
                      <h2>{{userData.userDetail?.public_repos}}</h2>
                    </div>
                  </div>
                  </a>
                </h2>

            </div>
          </div>
        </div>
      </div>
    </div>

    <h4 class="ui horizontal divider header">
      <i class="tag icon"></i>
      Recent Activity
    </h4>

    <div class="row">
      <div class="twelve wide column centered aligned">
        <sui-accordion class="segments ui aligned centered six wide column grid styled fluid">
          <sui-accordion-panel [isOpen]="false">
            <div title class="header ui">
                <i class="tasks icon"></i>
                See {{userData.userDetail?.login}}'s recent activity
            </div>
            <div content class="ui" *ngFor="let feed of userData.feed.items">
              <a href="{{feed.link}}" target="_blank">{{feed.title}}</a>
              <div class="ui divider"></div>
            </div>
          </sui-accordion-panel>
        </sui-accordion>
      </div>
    </div>

    <h4 class="ui horizontal divider header">
      <i class="tag icon"></i>
      Watchlist
    </h4>

    <div class="row">
      <div class="twelve wide column centered aligned row ui grid">
        <div class="" *ngFor="let sub of userData.subs" class="centered aligned">
          <a href="{{sub.html_url}}">
            <div class="tab">{{sub.name}}</div>
          </a>

        </div>
      </div>
    </div>

    <h4 class="ui horizontal divider header">
      Coded with
      <i class="red empty heart icon"></i>by Yash Agarwal
    </h4>

    <div class="row">
      <div class="twelve wide column centered aligned row ui grid">
        <a href="https://facebook.com/theyashagarwal"><i class="red big facebook f icon"></i></a>
        <a href="https://github.com/yash2696"><i class="red big github icon"></i></a>
        <a href="mailto:yashagarwaljpr@gmail.com"><i class="red big mail icon"></i></a>
        <a href="https://linkedin.com/in/theyashagarwal"><i class="red big linkedin icon"></i></a>
      </div>
    </div>
  </div>
</ng-template>
