.outerbox {
  margin-top: 3%;
}

.box {
  margin-top:10%;
  height: 100%;
}

a {
  color: black;
}

a:hover {
  color: #4183c4;
}

/*.image {
  max-width: 50px;
  max-height: 50px;
}*/
/*
.avatar {
  max-height: 70%;
  max-width: 70%;
  border-radius: 100%;
}*/
/*
.component-left {
  margin-left: 3%;
  margin-top: 3%;
  padding: 2%;
}*/

