<div class="ui centered aligned grid">

  <div class="float container large ui image img">
    <img src="http://www.aha.io/assets/github.7433692cabbfa132f34adb034e7909fa.png" alt="...">
  </div>

  <div class="ui container three column grid basic segment center  aligned">
      <div class="column">
        <div class="ui">
          <!--<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="ui form error">
            <pre>{{f.value | json}}</pre>
            <div class="ui action input searchBox">
              <input ngModel name="name" #search="ngModel" type="text" placeholder="Search..." required>
              <div *ngIf="search.errors?.required && search.touched" class="ui message error">Name is required</div>
              <button class="ui button submit" type="submit" [disabled]="!f.valid">Search</button>
            </div>
          </form>-->
          <form novalidate [formGroup]="username" (ngSubmit)="onSubmit(username)" class="ui form error">
            <div class="field">
              <label><h4>Search GitHub Username...</h4></label>
              <div class="ui labeled input">
                <div class="ui label">
                  @
                </div>
                <input autofocus type="text" placeholder="enter your username..." formControlName="name">
              </div>

              <!--<pre>{{f.form.controls.search?.invalid && (f.form.controls.search?.dirty || f.form.controls.search?.touched)}}</pre>
              <pre>{{f.form.controls.search?.valid && (f.form.controls.search?.dirty || f.form.controls.search?.touched)}}</pre>-->
              <div *ngIf="username.get('name').pending">Checking for validity</div>
              <div class="ui message error" *ngIf="username.get('name').hasError('required') && username.get('name').touched">
                <div class="header">Invalid Username</div>
                <p>Please type in a valid GitHub Username.</p>
              </div>

              <div class="ui message error" *ngIf="username.get('name').hasError('invalidUser') && username.get('name').touched">
                <div class="header">User not found</div>
                <p>Please type in a valid GitHub Username.</p>
              </div>

              <div class="ui message error" *ngIf="username.get('name').hasError('minlength') && username.get('name').touched">
                <div class="header">Minimum length</div>
                <p>Please type in a valid GitHub Username.</p>
              </div>
            </div>
            <button class="ui submit button" [disabled]="username.invalid">Submit</button>
          </form>

          {{ username.get('name').errors | json }}
        </div>
    </div>
  </div>

</div>
